resources:
- name: mydeployedinstance2
  type: compute.v1.instance
  properties:
    tags:
      items:
      - wave25
    zone: europe-west1-c
    machineType: https://www.googleapis.com/compute/v1/projects/myplaygrounds-inter/zones/europe-west1-c/machineTypes/custom-4-4096
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/family/debian-9
        diskSizeGb: 20
        diskType: https://www.googleapis.com/compute/v1/projects/myplaygrounds-inter/zones/europe-west1-c/diskTypes/pd-ssd
    - devicName: added
      type: PERSISTENT
      boot: false
      autoDelete: true
      initializeParams:
        diskSizeGb: 15
        diskType: https://www.googleapis.com/compute/v1/projects/myplaygrounds-inter/zones/europe-west1-c/diskTypes/pd-standard
    networkInterfaces:
    - network: projects/myplaygrounds-inter/global/networks/default
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
        natIP: $(ref.mydeployedip.address)
