resources:
- name: {{ env["deployment"] }}-instance
  type: compute.v1.instance
  properties:
    tags:
      items:
      - {{ env["deployment"] }}-tag
    zone: europe-west1-c
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/europe-west1-c/machineTypes/custom-4-4096
    disks:
    - deviceName: {{ env["deployment"] }}-ssddisk
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/family/debian-9
        diskSizeGb: 20
        diskType: https://www.googleapis.com/compute/v1/projects/myplaygrounds-inter/zones/europe-west1-c/diskTypes/pd-ssd
    - devicName: {{ env["deployment"] }}-standarddisk
      type: PERSISTENT
      boot: false
      autoDelete: true
      initializeParams:
        diskSizeGb: 15
        diskType: https://www.googleapis.com/compute/v1/projects/myplaygrounds-inter/zones/europe-west1-c/diskTypes/pd-standard
    networkInterfaces:
    - network: projects/{{ env["project"] }}/global/networks/default
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
        natIP: $(ref.{{ env["deployment"] }}-deployedip.address)
    serviceAccounts:
    - email: {{ env['project_number'] }}-compute@developer.gserviceaccount.com
