resources:
- name: {{ env["deployment"] }}-instancegroup
  type: compute.v1.instanceGroups
  properties:
    network: projects/{{ env["project"] }}/global/networks/default
    distributionPolicy:
      zones:
        - zone: europe-west1-b
    instanceTemplate: $(ref.{{ env["deployment"] }}-instancetemplate)

